.about {
  &-podcast {
    padding-top: 24rem;

    @include tablet {
      padding-top: 18rem;
    }

    &__history {
      &__list {
        margin-bottom: 8rem;
        gap: 2rem;
        text-align: left;

        @include tablet {
          margin-bottom: 6rem;
        }

        @include mobile {
          margin-bottom: 4rem;
          gap: 1rem;
        }
      }

      &__item {
        width: calc((100% - 2rem) / 2);
        display: flex;
        flex-direction: column;
        gap: 3rem;

        @include tablet {
          gap: 2rem;
        }

        @include mobile {
          width: calc((100% - 1rem) / 2);
          gap: 1rem;
        }
      }

      &__link {
        color: #000;
        text-decoration: underline;
      }
    }

    &__team {
      padding-top: 10rem;
      border-top: .05rem solid var(--davys-grey);

      &-header {
        margin-bottom: 8rem;
      }
    }
  }
}
