.categories {
  &__list {
    padding-bottom: 2rem;
    margin-bottom: 10rem;
    justify-content: space-between;
    border-bottom: .15rem solid var(--davys-grey);

    @include tablet {
      padding-bottom: 1rem;
      margin-bottom: 7rem;
    }

    @include small-tablet {
      margin-bottom: 5rem;
    }

    @include mobile {
      padding-bottom: 0;
      overflow-x: scroll;
      border-bottom: none;
    }
  }

  &__item {
    padding: .8rem 1.6rem;

    @include small-tablet {
      padding: 0.8rem;
    }
  }

  &__link {
    width: max-content;
    display: block;
    color: var(--davys-grey);
    font-size: 2.265rem;

    @include tablet {
      font-size: 1.77rem;
    }

    @include small-tablet {
      font-size: 1.57rem;
    }

    @include mobile {
      font-size: 1.38rem;
    }
  }
}
