.categories {
  &__list {
    padding-bottom: 2rem;
    margin-bottom: 10rem;
    justify-content: space-between;
    border-bottom: .15rem solid var(--davys-grey);
  }

  &__item {
    padding: .8rem 1.6rem;
  }

  &__link {
    color: var(--davys-grey);
    font-size: 2.265rem;
  }
}
