.download {
  background-color: var(--alice-blue);
  overflow: hidden;

  & .section {
    &__header {
      width: 555px;
      margin-bottom: 140px;
    }

    &__subtitle {
      margin-top: 28px;
    }

    &__body {
      position: relative;
    }
  }

  &__beta {
    display: inline-block;
    padding: 3px 6px;
    margin-bottom: 20px;
    border: 1px solid var(--vermillion);
    border-radius: 4px;
    color: var(--vermillion);
    text-transform: uppercase;
  }

  &__content {
    margin-top: 24px;
    margin-bottom: 10px;
  }
}
