.download {
  background-color: var(--alice-blue);
  overflow: hidden;

  & .section {
    &__header {
      margin-bottom: 140px;
      display: flex;
      flex-direction: column;
    }

    &__subtitle {
      margin-top: 28px;
    }

    &__body {
      position: relative;
    }
  }

  &__beta {
    max-width: 52px;
    margin: 0 auto;
    padding: 3px 6px;
    margin-bottom: 20px;
    border: 1px solid var(--vermillion);
    border-radius: 4px;
    color: var(--vermillion);
    text-transform: uppercase;
  }

  &__content {
    margin-top: 24px;
    margin-bottom: 10px;
  }

  &__button-wrapper {
    width: 210px;
    margin: 0 auto;
    position: relative;
  }
}
