.episode {
  &-hero {
    padding-top: 19.8rem;
    padding-bottom: 4rem;
    background-color: var(--champagne);

    @include tablet {
      padding-top: 17rem;
    }

    @include small-tablet {
      padding-top: 14rem;
    }

    @include mobile {
      padding-top: 12rem;
    }
  }

  &-browse {
    & .section__title {
      position: relative;
    }
  }

  &__body {
    justify-content: space-between;

    @include mobile {
      flex-direction: column;
      align-items: center;
      gap: 3rem;
    }
  }

  &__cover {
    width: 50%;
    height: 100%;

    @include mobile {
      width: 100%;
      max-width: 50rem;
    }
  }

  &__image {
    position: relative;
    margin-bottom: 8rem;

    @include tablet {
      margin-bottom: 5rem;
    }

    @include mobile {
      margin-bottom: 3rem;
    }
  }

  &__info {
    width: 45%;
    position: relative;

    @include mobile {
      width: 100%;
      max-width: 50rem;
    }
  }

  &__intro {
    margin-bottom: 1.6rem;
    display: flex;
    justify-content: space-between;
    color: var(--vermillion);
    font-weight: 700;

    @include tablet {
      margin-bottom: 1rem;
    }
  }

  &__title {
    padding-bottom: 2.3rem;
    margin-bottom: 2rem;
    border-bottom: .1rem solid #000;
    text-align: left;

    @include tablet {
      padding-bottom: 1.8rem;
      margin-bottom: 1.5rem;
    }

    @include small-tablet {
      padding-bottom: 1.5rem;
      margin-bottom: 1.2rem;
    }
  }

  &__description {
    margin-bottom: 4rem;
    color: var(--davys-grey);
    text-align: left;

    @include tablet {
      margin-bottom: 3rem;
    }

    @include small-tablet {
      margin-bottom: 2rem;
    }
  }

  &__details {
    margin-bottom: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablet {
      margin-bottom: 4rem;
    }

    @include small-tablet {
      margin-bottom: 3rem;
    }
  }

  &__hosted {
    display: flex;
    align-items: center;
    gap: 1rem;

    &-avatar {
      width: 3.6rem;
      aspect-ratio: 1;
      overflow: hidden;
      border-radius: 50%;

      @include small-tablet {
        width: 3rem;
      }

      &__image {
        display: block;
        width: 100%;
        height: 100%;
      }
    }

    &-text span {
      font-weight: 700;
      color: var(--vermillion);
    }
  }

  &__featured {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3rem .6rem;
    border: .1rem solid var(--vermillion);
    border-radius: .4rem;
    font-size: 1.2rem;

    @include tablet {
      font-size: 1rem;
    }

    @include mobile {
      font-size: 0.8rem;
    }
  }

  &__buttons {
    display: flex;
    gap: 2rem;

    @include small-tablet {
      flex-direction: column-reverse;
      align-items: center;
      gap: 1rem;
    }
  }

  &__tags {
    display: flex;
    gap: 6rem;
    align-items: center;

    &-text {
      font-weight: 700;
    }
  }
}

.episodes {
  &__list {
    margin-bottom: 10rem;
    flex-wrap: wrap;
    gap: 2rem;
    position: relative;

    @include tablet {
      margin-bottom: 7rem;
      gap: 1rem;
    }
  }

  &__item {
    width: calc((100% - 2rem) / 2);
    text-align: left;
    padding: 1.6rem;
    border: .2rem solid #000;
    border-radius: 1.2rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    transition: transform .3s ease-in-out, box-shadow .3s ease-in-out;

    @include tablet {
      width: calc((100% - 1rem) / 2);
    }

    @include medium-tablet {
      width: 66.8rem;

      &:nth-child(odd) {
        margin-right: auto;
      }

      &:nth-child(even) {
        margin-left: auto;
      }
    }

    @include small-tablet {
      width: 53.6rem;
    }

    @include hover {
      transform: translate(-1rem, -1rem);
      box-shadow: 1rem 1rem 0 0 var(--pewter-blue);
    }

    &-main {
      display: flex;
      align-items: flex-start;
      gap: 2rem;
    }

    &-left {
      width: 16.6rem;

      @include small-tablet {
        width: 13.6rem;
      }

      flex-shrink: 0;
      position: relative;
      overflow: hidden;

      & > .epidodes__item-link {
        display: block;
        width: 100%;
        height: 100%;
      }
    }

    &-footer {
      display: flex;
      justify-content: space-between;
    }

  }

  &__image {
    display: block;
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: .8rem;

    &--full {
      border-radius: 1.2rem;
    }

    &--big {
      max-width: 47.2rem;
      aspect-ratio: 1;
      border-radius: .8rem;
      box-shadow: 1.2rem 1.2rem 0 0 var(--pewter-blue);
    }

    &__title {
      position: absolute;
      bottom: 2rem;
      left: 2rem;
      color: var(--pewter-blue);
      font-weight: 700;
      font-feature-settings: "liga" off;
      line-height: 1.2;
      letter-spacing: -.2932rem;

      @include medium-tablet {
        font-size: 3.6rem;
      }

      @include small-tablet {
        font-size: 3rem;
      }

      @media (max-width: 600px) {
        font-size: 2.3rem;
      }

      @media (max-width: 492px) {
        font-size: 3.3rem;
      }

      &--big {
        bottom: 2.5rem;
        left: 2.5rem;
        font-size: 4.6377rem;
        font-style: normal;
        line-height: 1.4;
        letter-spacing: -.371rem;

        @include tablet {
          font-size: 4rem;
        }

        @include small-tablet {
          font-size: 3.2rem;
          bottom: 1.5rem;
        }

        @include mobile {
          bottom: 1rem;
          left: 1rem;
        }
      }
    }
  }

  &__number {
    margin-bottom: .4rem;
    font-weight: 700;
    color: var(--vermillion);
  }

  &__link {
    color: #000;
    transition: color .3s ease-in-out;

    @include hover {
      color: var(--vermillion)
    }
  }

  &__title {
    padding-bottom: 1.5rem;
    margin-bottom: 1rem;
    border-bottom: .05rem solid var(--davys-grey);
    line-height: 1.4;
    letter-spacing: -.0453rem;
  }

  &__tags {
    display: flex;
    gap: .6rem;

    &__link {
      padding: .6rem 1.2rem;
      border: .1rem solid var(--davys-grey);
      border-radius: .4rem;
      transition: color .3s ease-in-out, background .3s ease-in-out;

      @include hover {
        color: #fff;
        background-color: var(--pewter-blue);
      }
    }
  }

  &__hosts {
    display: flex;
    gap: 1rem;
    font-weight: 700;
    align-items: center;

    &__list {
      display: flex;
    }

    &__avatar {
      border-left: .3rem solid #fff;
      border-radius: 50%;
      transform: translateX(.6rem);

      &:first-of-type {
        border-left: none;
      }

      &:last-of-type {
        transform: translateX(0);
        z-index: 1;
      }
    }

    &__image {
      display: block;
      width: 2.6rem;
      height: 2.6rem;
      border-radius: 50%;
    }
  }
}
