.episode {
  &-hero {
    padding-top: 19.8rem;
    padding-bottom: 4rem;
    background-color: var(--champagne);
  }

  &-browse {
    & .section__title {
      position: relative;
    }
  }

  &__body {
    margin-bottom: 8rem;
  }

  &__cover {
    position: relative;
    grid-column: 5 span;
  }

  &__info {
    grid-column: 7 / -1;
  }

  &__intro {
    margin-bottom: 1.6rem;
    display: flex;
    justify-content: space-between;
    color: var(--vermillion);
    font-weight: 700;
  }

  &__title {
    padding-bottom: 2.3rem;
    margin-bottom: 2rem;
    border-bottom: .1rem solid #000;
    text-align: left;
  }

  &__description {
    margin-bottom: 4rem;
    color: var(--davys-grey);
    text-align: left;
  }

  &__details {
    margin-bottom: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__hosted {
    display: flex;
    align-items: center;
    gap: 1rem;

    &-avatar {
      width: 3.6rem;
      height: 3.6rem;
      overflow: hidden;
      border-radius: 50%;

      &__image {
        display: block;
        width: 100%;
        height: 100%;
      }
    }

    &-text span {
      font-weight: 700;
      color: var(--vermillion);
    }
  }

  &__featured {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3rem .6rem;
    border: .1rem solid var(--vermillion);
    border-radius: .4rem;
    font-size: 1.2rem;
  }

  &__buttons {
    display: flex;
    gap: 2rem;
  }

  &__tags {
    display: flex;
    gap: 6rem;
    align-items: center;

    &-text {
      font-weight: 700;
    }
  }
}

.episodes {
  &__list {
    margin-bottom: 10rem;
    flex-wrap: wrap;
    gap: 2rem;
    position: relative;
  }

  &__item {
    width: calc((100% - 2rem) / 2);
    text-align: left;
    padding: 1.6rem;
    border: .2rem solid #000;
    border-radius: 1.2rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    transition: transform .3s ease-in-out, box-shadow .3s ease-in-out;

    @include hover {
      transform: translate(-1rem, -1rem);
      box-shadow: 1rem 1rem 0 0 var(--pewter-blue);
    }

    &-main {
      display: flex;
      align-items: center;
      gap: 2rem;
    }

    &-left {
      min-width: 16.6rem;
      position: relative;
      overflow: hidden;
    }

    &-footer {
      display: flex;
      justify-content: space-between;
    }

  }

  &__image {
    display: block;
    min-width: 16.6rem;
    aspect-ratio: 1 / 1;
    height: 16.6rem;
    border-radius: .8rem;

    &--full {
      width: 37.3rem;
      height: 37.3rem;
      border-radius: 1.2rem;
    }

    &--big {
      width: 47.2rem;
      height: 47.2rem;
      border-radius: .8rem;
      box-shadow: 1.2rem 1.2rem 0 0 var(--pewter-blue);
    }

    &__title {
      position: absolute;
      bottom: 2rem;
      left: 2rem;
      color: var(--pewter-blue);
      font-feature-settings: "liga" off;
      line-height: 1.2;
      letter-spacing: -.2932rem;

      &--big {
        bottom: 2.531rem;
        left: 2.531rem;
        font-size: 4.6377rem;
        font-style: normal;
        line-height: 1.4;
        letter-spacing: -.371rem;
      }
    }
  }

  &__number {
    margin-bottom: .4rem;
    font-weight: 700;
    color: var(--vermillion);
  }

  &__link {
    color: #000;
    transition: color .3s ease-in-out;

    @include hover {
      color: var(--vermillion)
    }
  }

  &__title {
    padding-bottom: 1.5rem;
    margin-bottom: 1rem;
    border-bottom: .05rem solid var(--davys-grey);
    line-height: 1.4;
    letter-spacing: -.0453rem;
  }

  &__tags {
    display: flex;
    gap: .6rem;

    &__link {
      padding: .6rem 1.2rem;
      border: .1rem solid var(--davys-grey);
      border-radius: .4rem;
      transition: color .3s ease-in-out, background .3s ease-in-out;

      @include hover {
        color: #fff;
        background-color: var(--pewter-blue);
      }
    }
  }

  &__hosts {
    display: flex;
    gap: 1rem;
    font-weight: 700;
    align-items: center;

    &__list {
      display: flex;
    }

    &__avatar {
      border-left: .3rem solid #fff;
      border-radius: 50%;
      transform: translateX(.6rem);

      &:first-of-type {
        border-left: none;
      }

      &:last-of-type {
        transform: translateX(0);
        z-index: 1;
      }
    }

    &__image {
      display: block;
      width: 2.6rem;
      height: 2.6rem;
      border-radius: 50%;
    }
  }
}
