.footer {
  padding-bottom: 8rem;
  position: relative;

  &__top {
    padding-top: 14rem;
    margin-bottom: 14rem;
    display: flex;
    justify-content: space-between;
  }

  &__bottom {
    padding-top: 2rem;
    border-top: .05rem solid var(--davys-grey);
    display: flex;
    justify-content: space-between;
  }

  &__column {
    display: flex;
    flex-direction: column;
  }

  &__logo {
    margin-bottom: 4rem;
    display: flex;
    align-items: flex-end;
    gap: 2.5rem;

    & .header__logo {
      margin: 0;
    }
  }

  &__description {
    width: 27.5rem;
    margin-bottom: 4rem;
  }

  &__menu {
    width: 27rem;
    flex-wrap: wrap;
    gap: 2rem 9rem;

    &-item {
      width: calc((100% - 9rem) / 2);
    }

    &-link {
      color: #000;
      transition: color .3s ease-in-out;

      @include hover {
        color: var(--vermillion);
      }
    }
  }

  &__title {
    margin-bottom: 2.5rem;
    color: var(--davys-grey);
  }

  &__platforms {
    &__list {
      margin-bottom: 6rem;
      justify-content: space-between;
    }

    &__item {
      transition: transform .3s ease-in-out;

      @include hover {
        transform: scale(.9);
      }
    }

    &__image {
      display: block;
      height: 2.2rem;
    }
  }

  &__marketplaces {
    &__list {
      gap: 2rem;
    }

    &__item {
      transition: transform .3s ease-in-out;

      @include hover {
        transform: scale(.9);
      }
    }

    &__image {
      display: block;
      height: 3.6rem;
      width: 3.6rem;
    }
  }

  &__copy {
    & span {
      color: var(--vermillion);
    }
  }

  &__policy {
    display: flex;
    gap: 1rem;
  }
}
