.hero {
  width: 100%;
  padding-top: 98px;
  padding-bottom: 140px;
  background-color: var(--champagne);

  &__main {
    margin-top: 64px;
    margin-bottom: 120px;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin-bottom: 40px;
    color: #000;
    text-align: center;
    font-weight: 700;

    & span {
      color: var(--vermillion);
    }
  }

  &__subtitle {
    text-align: center;
    margin-bottom: 60px;
    color: var(--davys-grey);
    font-style: normal;
    font-weight: 500;
  }

  &__buttons {
    display: flex;
    gap: 20px;
  }

  &__stats {
    &__list {
      position: absolute;
      bottom: -119px;
      z-index: 5;
      gap: 20px;
    }

    &__item {
      width: 373px;
      padding: 59px 0;
      text-align: center;
      border: 1.5px solid #000;
      border-radius: 8px;
      background-color: #fff;
      box-shadow: 6px 6px 0 0 var(--vermillion);
    }

    &__number {
      margin-bottom: 20px;
      text-transform: uppercase;

      & span {
        color: var(--vermillion);
      }
    }

    &__object {
      color: var(--davys-grey);
    }
  }

  &__support {
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid var(--davys-grey);
    border-bottom: 1px solid var(--davys-grey);

    &-title {
      color: #000;
      font-size: 22.65px;
      font-weight: 700;
      line-height: 140%;
      letter-spacing: -0.453px;
    }

    &-list {
      gap: 20px;
    }

    &-item {
      width: 275px;
      height: 84px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: transform .3s ease-in-out;

      @include hover {
        transform: scale(.9);
      }
    }
  }

  &__episodes {
    &__slider {
      margin: 0 auto;
      margin-bottom: 100px;
      width: 1160px;
    }

    &__item {
      width: 373px;
      height: 373px;
      border-radius: 12px;
      position: relative;
      overflow: hidden;
      transition: transform .3s ease-in-out;
      
      @include hover {
        transform: translateY(10px);
      }
    }
  }
}
