.hosts {
  &__list {
    gap: 2rem;
  }

  &__item {
    width: calc((100% - 2rem) / 2);
    display: flex;
    position: relative;
    gap: 2rem;
    padding: 1.6rem;
    border: .2rem solid #000;
    border-radius: .8rem;
    background-color: #fff;
    transition: transform .3s ease-in-out, box-shadow .3s ease-in-out;

    @include hover {
      transform: translate(-1rem, -1rem);
      box-shadow: 1rem 1rem 0 0 #000;
    }

    &-left {
      min-width: 25.9rem;
      overflow: hidden;
      transition: transform .3s ease-in-out;

      @include hover {
        transform: scale(1.02);
      }
    }

    &-right {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
    }
  }

  &__link {
    color: inherit;
  }


  &__image {
    display: block;
    height: 48.8rem;
    object-position: 100%;
    border-radius: .8rem;
  }

  &__role {
    font-size: 1.4rem;
    margin-bottom: .6rem;
  }

  &__name {
    margin-bottom: 2rem;
    text-align: left;
    transition: color .3s ease-in-out;

    @include hover {
      color: var(--vermillion);
    }
  }

  &__description {
    margin-bottom: 2rem;
    text-align: left;
  }

  &__follow {
    width: 100%;
    padding-top: 1rem;
    display: flex;
    justify-content: flex-end;
    gap: 1.9rem;
    border-top: .05rem solid var(--davys-grey);

    &__text {
      font-weight: 700;
    }
  }
}
