.membership {
  text-align: center;

  &__list {
    margin-bottom: 100px;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 80px 20px;
  }

  &__item {
    width: calc((100% - 40px) / 3);

    &-image {
      width: 78px;
      height: 78px;
      margin-bottom: 30px;
    }

    &-title {
      margin-bottom: 10px;
      line-height: 1.4;
      letter-spacing: -0.453px;
    }
  }
}
