.social {
  &__list {
    gap: 2.5rem;

    &--episode {
      width: 24.66%;
      height: 6.43%;
      justify-content: space-between;
      position: absolute;
      top: 5.36%;
      right: 5.36%;
    }

    &--follow {
      gap: 1rem;
    }

    &--footer {
      width: 12.2rem;

      @include mobile {
        margin: 0 auto;
      }
    }

    &--download {
      width: 11.2rem;
      margin: 0 auto;
    }
  }

  &__item {
    width: 26.09%;
    height: 100%;
  }

  &__icon {
    display: block;
    transition: transform .3s ease-in-out, fill .3s ease-in-out;

    &--footer {
      width: 2.4rem;
      height: 2.4rem;
    }

    &--follow {
      width: 2rem;
      height: 2rem;
    }

    &--black {
      fill: #000;

      @include hover {
        fill: var(--vermillion)
      }
    }

    @include hover {
      transform: scale(1.2);
    }
  }
}
