.social {
  &__list {
    gap: 25px;

    &--full-episode {
      gap: 10px;
      position: absolute;
      top: 20px;
      right: 20px;
    }

    &--mini-episode {
      gap: 6px;
      position: absolute;
      top: 10px;
      right: 10px;
    }

    &--follow {
      gap: 10px;
    }
  }

  &__icon {
    display: block;
    transition: transform .3s ease-in-out, fill .3s ease-in-out;

    &--footer {
      width: 24px;
      height: 24px;
    }

    &--follow {
      width: 20px;
      height: 20px;
    }

    &--black {
      fill: #000;

      @include hover {
        fill: var(--vermillion)
      }
    }

    @include hover {
      transform: scale(1.2);
    }
  }
}
