.social {
  &__list {
    gap: 2.5rem;

    &--full-episode {
      gap: 1rem;
      position: absolute;
      top: 2rem;
      right: 2rem;
    }

    &--mini-episode {
      gap: .6rem;
      position: absolute;
      top: 1rem;
      right: 1rem;
    }

    &--big-episode {
      gap: 1.265rem;
      position: absolute;
      top: 2.531rem;
      right: 2.531rem;
    }

    &--follow {
      gap: 1rem;
    }
  }

  &__icon {
    display: block;
    transition: transform .3s ease-in-out, fill .3s ease-in-out;

    &--footer {
      width: 2.4rem;
      height: 2.4rem;
    }

    &--follow {
      width: 2rem;
      height: 2rem;
    }

    &--black {
      fill: #000;

      @include hover {
        fill: var(--vermillion)
      }
    }

    @include hover {
      transform: scale(1.2);
    }
  }
}
