.sponsors {
  background-color: var(--champagne);

  & .section__header {
    position: relative;
  }

  &__slider {
    width: 116rem;
    overflow: hidden;
    margin: 0 auto;
    padding-bottom: 10.8rem;
    position: relative;

    & .swiper-button-next,
    & .swiper-button-prev {
      top: auto !important;
      bottom: 0 !important;
      width: 4.8rem;
      height: 4.8rem;

      &::after {
        display: none;
      }
    }

    & .swiper-button-next {
      left: 6.8rem;
    }
  }

  &__item {
    box-sizing: border-box;
    width: 57rem;
    padding: 4rem 1.7rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border: .15rem solid #000;
    border-radius: 1.2rem;
  }

  &__logo {
    width: 35.5rem;
    height: 5.4rem;
    padding-bottom: 2rem;
    margin-bottom: 3rem;
    border-bottom: .05rem solid var(--davys-grey);
  }
}
