.google-podcast--static,
.spotify--static,
.youtube--static {
  display: block;
  width: 100%;
  height: 100%;
  fill: #fff;
}

.arrow-left,
.arrow-right {
  width: 4.8rem;
  height: 4.8rem;
  fill: transparent;
  stroke: black;
  stroke-width: .3rem;
  transition: stroke .3s ease-in-out;

  &--no-circle {
    width: 2.2rem;
    height: 2.2rem;
    stroke-width: .15rem;
  }

  @include hover {
    stroke: var(--vermillion);
  }
}

.form__search__icon {
  width: 2.4rem;
  aspect-ratio: 1;
  fill: transparent;
  stroke: var(--davys-grey);
  position: absolute;
  top: 2.5rem;
  left: 4rem;
  z-index: 1;
  transition: transform .3s ease-in-out;

  @include mobile {
    left: 2rem;
    top: 1.5rem;
  }
}
