.google-podcast--static,
.spotify--static,
.youtube--static {
  display: block;
  fill: #fff;

  &--full {
    width: 24px;
    height: 24px;
  }

  &--mini {
    width: 12px;
    height: 12px;
  }
}

.arrow-left,
.arrow-right {
  width: 48px;
  height: 48px;
  fill: transparent;
  stroke: black;
  stroke-width: 3px;
  transition: stroke .3s ease-in-out;

  @include hover {
    stroke: var(--vermillion);
  }
}
