<section class="about-podcast">
  <div class="container">
  <div class="section__header">
    <h2 class="section__title">What our listeners say</h2>
    <h4 class="section__subtitle">Their experience throughout every platform</h4>

    <div class="section__cover">
      <img class="decor decor__about__podcast--mask" src="img/svg/decor-18.svg" alt="cover mask">

      <picture>
        <source srcset="img/micro.webp" type="image/webp">
        <img class="section__cover-image" src="img/micro.png" srcset="img/micro_2x.png 2x" alt="section cover">
      </picture>
    </div>
  </div>
  <div class="section__body">
    <div class="about-podcast__history">
      <h3 class="section__title section__title--small">
        <svg class="decor decor__sponsorship--1">
          <use xlink:href="img/sprite.svg#decor-9"></use>
        </svg>
        About and History
      </h3>
      <ul class="about-podcast__history__list list-reset flex">
        <li class="about-podcast__history__item">
          <p>Eu non <b>diam</b> phasellus vestibulum lorem. Fringilla est ullamcorper eget nulla facilisi etiam dignissim. Id diam vel quam <b>elementum pulvinar.</b></p>
          <p>Elementum eu facilisis sed odio morbi quis commodo. Sed odio morbi quis commodo odio aenean sed adipiscing odio diam. uno fablotoson louw uit.</p>
        </li>
        <li class="about-podcast__history__item">
          <p>Lorem ipsum dolor sit amet, <b>consectetur adipiscing</b> elit. Quam pellentesque at bibendum euismod tellus duis cursus dignissim odio. Sit vulputate et integer in. Sit vel, senectus iaculis morbi. <b>Amet</b> interdum imperdiet laoreet <b>morbi</b> tincidunt fermentum, libero. Ante enim eget.</p>
          <p>Viverra at porttitor accumsan. <a class="about-podcast__history__link" href="#">Orci non here</a></p>
        </li>
      </ul>
    </div>
    <div class="about-podcast__team">
        <h3 class="section__title section__title--small">
          <svg class="decor decor__about__podcast--1">
            <use xlink:href="img/sprite.svg#decor-8"></use>
          </svg>
          Founder and Main Host
        </h3>
      <ul class="hosts__list list-reset flex">
        <li class="hosts__item">
          <img class="decor decor__hosts--1" src="img/svg/decor-5.svg" alt="hosts decor">
          <div class="hosts__item-left">
            <a href="#" class="hosts__link">
              <picture>
                <source srcset="img/host-1.webp" type="image/webp">
                <img class="hosts__image" src="img/host-1.png" srcset="img/host-1_2x.png 2x" alt="host image">
              </picture>
            </a>
          </div>
          <div class="hosts__item-right">
            <p class="hosts__role">Founder</p>
            <a href="#" class="hosts__link">
              <h3 class="hosts__name">Porter<br>Severus</h3>
            </a>
            <p class="hosts__description caption-text">Lorem ipsum dolor sit amet con sectet piscing elit, sed do eiusmod tempor rarylet podofcast.</p>
            <div class="hosts__follow">
              <p class="hosts__follow__text small-text">follow me:</p>
              <ul class="social__list--follow list-reset flex">
                <li class="social__item">
                  <a href="#" class="social__link">
                    <img class="social__icon" src="img/svg/tiktok-color.svg" alt="social icon">
                  </a>
                </li>
                <li class="social__item">
                  <a href="#" class="social__link">
                    <img class="social__icon" src="img/svg/twitter-color.svg" alt="social icon">
                  </a>
                </li>
                <li class="social__item">
                  <a href="#" class="social__link">
                    <img class="social__icon" src="img/svg/instagram-color.svg" alt="social icon">
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="hosts__item">
          <img class="decor decor__hosts--2" src="img/svg/decor-4.svg" alt="hosts decor">
          <div class="hosts__item-left">
            <a href="#" class="hosts__link">
              <picture>
                <source srcset="img/host-2.webp" type="image/webp">
                <img class="hosts__image" src="img/host-2.png" srcset="img/host-2_2x.png 2x" alt="host image">
              </picture>
            </a>
          </div>
          <div class="hosts__item-right">
            <p class="hosts__role">Main Host</p>
            <a href="#" class="hosts__link">
              <h3 class="hosts__name">Marques<br>Keith</h3>
            </a>
            <p class="hosts__description caption-text">Lorem ipsum dolor sit amet con sectet piscing elit, sed do eiusmod tempor rarylet podofcast.</p>
            <div class="hosts__follow">
              <p class="small-text">follow me:</p>
              <ul class="social__list--follow list-reset flex">
                <li class="social__item">
                  <a href="#" class="social__link">
                    <img class="social__icon social__icon--follow" src="img/svg/tiktok-color.svg" alt="social icon">
                  </a>
                </li>
                <li class="social__item">
                  <a href="#" class="social__link">
                    <img class="social__icon social__icon--follow" src="img/svg/twitter-color.svg" alt="social icon">
                  </a>
                </li>
                <li class="social__item">
                  <a href="#" class="social__link">
                    <img class="social__icon social__icon--follow" src="img/svg/instagram-color.svg" alt="social icon">
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  </div>
</section>
