<section class="about-hero">
  <svg class="decor decor__hero--1">
    <use xlink:href="img/sprite.svg#decor-13"></use>
  </svg>
  <svg class="decor decor__hero--2">
    <use xlink:href="img/sprite.svg#decor-15"></use>
  </svg>
  <picture>
    <source src="img/decor-14.webp" type="image/webp">
    <img class="decor decor__hero--3" src="img/decor-14.png" srcset="img/decor-14_2x.png" alt="decor image">
  </picture>
  <svg class="decor decor__about__hero--1">
    <use xlink:href="img/sprite.svg#decor-13"></use>
  </svg>

  <div class="container">
    <div class="hero__main flex">
      <h1 class="hero__title">
        About<br><span>Pod of Cast</span>
      </h1>
      <div class="hero__subtitle">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit,  eiusmod tempor incididunt<br>ut labore et dolore magna aliqua. Ut enim ad minim veniam–quis.
      </div>
      <div class="hero__buttons">
        <button class="btn btn--light btn-reset">BECOME SPONSOR</button>
        <button class="btn btn-reset">SUBSCRIBE</button>
      </div>
    </div>
    <ul class="hero__stats__list list-reset flex">
      <li class="hero__stats__item">
        <h2 class="hero__stats__number"><span>76</span>k</h2>
        <p class="hero__stats__object">Community Members</p>
      </li>
      <li class="hero__stats__item">
        <h2 class="hero__stats__number"><span>128</span>k</h2>
        <p class="hero__stats__object">Podcast Subscribers</p>
      </li>
      <li class="hero__stats__item">
        <h2 class="hero__stats__number"><span>59</span>k</h2>
        <p class="hero__stats__object">Daily Listeners</p>
      </li>
    </ul>
  </div>
</section>
