<section class="article__content">
  <div class="container article__content__container">
    <div class="article__cover">
      <picture>
        <source srcset="img/article-2.webp" type="image/webp">
        <img class="article__cover-image" src="img/article-2.png"srcset="img/article-2_2x.png 2x" alt="article cover image">
      </picture>
    </div>
    <div class="article__plain-text">
      <h3 class="section__title section__title--small">
        <svg class="decor decor__article--1">
          <use xlink:href="img/sprite.svg#decor-8"></use>
        </svg>
        Doodle for our podcast background room
      </h3>
      <ul class="article__list list-reset">
        <li class="article__item">
          <p>
            Lorem ipsum dolor sit amet, <b>consectetur adipiscing</b> elit. Quam pellentesque at bibendum euismod tellus duis cursus dignissim odio. Sit vulputate et integer in.
          </p>
          <br>
          <p>
            Sit vel, senectus iaculis morbi. <b>Amet</b> interdum imperdiet laoreet <b>morbi</b> tincidunt fermentum, libero. Ante enim eget viverra at porttitor accumsan. <a href="#">Orci non here</a>
          </p>
        </li>
        <li class="article__item">
          Quis dictum cursus faucibus mattis dignissim. Pellentes que purus in sed sodales in mauris molestie. Eleifend est cons ctetur interdum eu in auctor. Gravida leo et.
        </li>
      </ul>
    </div>
    <div class="article__quote">
      <div class="features__review">
        <svg class="decor decor__features--1">
          <use xlink:href="img/sprite.svg#decor-13"></use>
        </svg>
        <svg class="decor decor__features--2">
          <use xlink:href="img/sprite.svg#decor-10"></use>
        </svg>

        <p class="h3 features__review-title">
          Quote example goes in here...
        </p>
        <div class="features__review-author">
          <picture>
            <source type="image/webp" srcset="img/features-avatar.webp">
            <img class="features__review-author__avatar" src="img/features-avatar.png" alt="review avatar" srcset="img/features-avatar_2x.png 2x">
          </picture>
          <div class="features__review-author__name">John Smith,</div>
          <div class="features__review-author__role">
            <img class="features__review-author-icon" src="img/svg/spotify-icon.svg" alt="spotify icon">
            <p class="caption-text">Social Community Manager</p>
          </div>
        </div>
      </div>
    </div>
    <div class="article__list-examples article__list">
      <div class="article__item">
        <h4 class="article__list-examples__title">Bullet list example:</h4>
        <ul class="article__list--bullet flex">
          <li class="article__item--bullet">
            <p>
              Lorem ipsum dolor sit amet, <b>consectetur adipiscing</b> elit. Quam pellentesque at bibendum euismod tellus duis curs us dignissim odio. Sit vulputate et integer in.
            </p>
          </li>
          <li class="article__item--bullet">
            <p>
              Sit vel, senectus iaculis morbi. <b>Amet</b> interdum imperdiet laoreet <b>morbi</b> tincidunt fermentum, libero. Ante enim eget viverra at porttitor accumsan. <a href="#">Orci non here</a>
            </p>
          </li>
          <li class="article__item--bullet">
            <p>
              Quis dictum cursus faucibus mattis dignissim. Pellent que <b>purus in sed</b> sodales in mauris molestie. Eleifend est consctetur interdum eu in auctor. Gravida leo et.
            </p>
          </li>
        </ul>
      </div>
      <div class="article__item">
        <h4 class="article__list-examples__title">Number list example:</h4>
        <ol class="article__list--number flex">
          <li class="article__item--number">
            <p>
              Lorem ipsum dolor sit amet, <b>consectetur adipiscing</b> elit. Quam pellentesque at bibendum euismod tellus duis curs us dignissim odio. Sit vulputate et integer in.
            </p>
          </li>
          <li class="article__item--number">
            <p>
              Sit vel, senectus iaculis morbi. <b>Amet</b> interdum imperdiet laoreet <b>morbi</b> tincidunt fermentum, libero. Ante enim eget viverra at porttitor accumsan. <a href="#">Orci non here</a>
            </p>
          </li>
          <li class="article__item--number">
            <p>
              Quis dictum cursus faucibus mattis dignissim. Pellent que <b>purus in sed</b> sodales in mauris molestie. Eleifend est consctetur interdum eu in auctor. Gravida leo et.
            </p>
          </li>
        </ol>
      </div>
    </div>
    <div class="article__images article__list">
      <div class="article__images-item article__item">
        <picture>
          <source srcset="img/doodle-1.webp" type="image/webp">
        </picture>
        <img src="img/doodle-1.png" srcset="img/doodle-1_2x.png 2x" alt="article image" class="article__image">
        <p class="article__image-caption caption-text">this is an image with a caption example</p>
      </div>
      <div class="article__images-item article__item">
        <picture>
          <source srcset="img/doodle-2.webp" type="image/webp">
        </picture>
        <img src="img/doodle-2.png" srcset="img/doodle-2_2x.png 2x" alt="article image" class="article__image">
        <a href="#" class="article__images-link">download here</a>
      </div>
    </div>
  </div>
</section>
