<section class="hero article__hero">
  <svg class="decor decor__hero--1">
    <use xlink:href="img/sprite.svg#decor-13"></use>
  </svg>
  <svg class="decor decor__hero--2">
    <use xlink:href="img/sprite.svg#decor-15"></use>
  </svg>
  <picture>
    <source src="img/decor-14.webp" type="image/webp">
    <img class="decor decor__hero--3" src="img/decor-14.png" srcset="img/decor-14_2x.png" alt="decor image">
  </picture>

  <div class="container article__container flex flex__aligned">
    <div class="article__tools flex">
      <a class="article__return" href="articles.html">
        <svg class="arrow-left arrow-left--no-circle">
          <use xlink:href="img/sprite.svg#arrow-left-no-circle"></use>
        </svg>
        <div>Back to articles</div>
      </a>
      <time class="article__date" datetime="2021-09-12">Sep 12, 2021</time>
    </div>
    <div class="article__category caption-text">TIPS & TRICKS</div>
    <h2 class="article__title">Doodle Artwork 101</h2>
    <div class="episodes__tags article__tags">
      <a href="#" class="episodes__tags__link small-text">art</a>
      <a href="#" class="episodes__tags__link small-text">creative</a>
      <a href="#" class="episodes__tags__link small-text">tips and trick</a>
    </div>
    <ul class="social__list list-reset flex">
      <li class="social__item">
        <a href="#" class="social__link">
          <svg class="social__icon social__icon--footer social__icon--black">
            <use xlink:href="img/sprite.svg#twitter"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a href="#" class="social__link">
          <svg class="social__icon social__icon--footer social__icon--black">
            <use xlink:href="img/sprite.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a href="#" class="social__link">
          <svg class="social__icon social__icon--footer social__icon--black">
            <use xlink:href="img/sprite.svg#tiktok"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
