<section class="hero articles__hero">
  <svg class="decor decor__hero--1">
    <use xlink:href="img/sprite.svg#decor-13"></use>
  </svg>
  <svg class="decor decor__hero--2">
    <use xlink:href="img/sprite.svg#decor-15"></use>
  </svg>
  <picture>
    <source src="img/decor-14.webp" type="image/webp">
    <img class="decor decor__hero--3" src="img/decor-14.png" srcset="img/decor-14_2x.png" alt="decor image">
  </picture>

  <div class="container">
    <div class="hero__main flex">
      <h1 class="hero__title">
        Article<br>and <span>News</span>
      </h1>
      <div class="hero__subtitle">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit,  eiusmod tempor incididunt<br>ut labore et dolore magna aliqua. Ut enim ad minim veniam–quis.
      </div>
      <form action="#" class="form__search">
        <input class="form__search__input" type="text" placeholder="Search...">
        <svg class="form__search__icon">
          <use xlink:href="img/sprite.svg#search"></use>
        </svg>
      </form>
    </div>
  </div>
</section>
