<section class="features">
  <svg class="decor decor--scribble decor--scribble--vermillion">
    <use xlink:href="img/sprite.svg#decor-7"></use>
  </svg>

  <div class="container">
    <div class="section__header">
      <h2 class="section__title">
        Talk. Listen. Get inspired<br>by every minute of it.
      </h2>
    </div>
    <div class="section__body">
      <ul class="features__list list-reset flex">
        <li class="features__item">
          <picture>
            <source srcset="img/features-1.webp" type="image/webp">
            <img src="img/features-1.png" srcset="img/features-1_2x.png 2x" alt="features image" class="features__image">
          </picture>
          <p class="features__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac ultrices odio.
          </p>
        </li>
        <li class="features__item">
          <picture>
            <source srcset="img/features-2.webp" type="image/webp">
            <img src="img/features-2.png" srcset="img/features-2_2x.png 2x" alt="features image" class="features__image">
          </picture>
          <p class="features__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac ultrices odio.
          </p>
        </li>
      </ul>
      <div class="features__review">
        <svg class="decor decor__features--1">
          <use xlink:href="img/sprite.svg#decor-13"></use>
        </svg>
        <svg class="decor decor__features--2">
          <use xlink:href="img/sprite.svg#decor-10"></use>
        </svg>

        <h3 class="features__review-title">
          One of the best daily podcasts that covers every topic on Spotify.
        </h3>
        <div class="features__review-author">
          <picture>
            <source type="image/webp" srcset="img/features-avatar.webp">
            <img class="features__review-author__avatar" src="img/features-avatar.png" alt="review avatar" srcset="img/features-avatar_2x.png 2x">
          </picture>
          <div class="features__review-author__name">John Smith,</div>
          <div class="features__review-author__role">
            <img class="features__review-author-icon" src="img/svg/spotify-icon.svg" alt="spotify icon">
            <p class="caption-text">Social Community Manager</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
