<section class="feedback">
  <svg class="decor decor__feedback--1">
    <use xlink:href="img/sprite.svg#decor-13"></use>
  </svg>
  <img class="decor decor__feedback--2" src="img/svg/decor-2.svg" alt="decor">

  <div class="container">
    <div class="section__header">
      <h2 class="section__title">
        <svg class="decor decor__feedback--3">
          <use xlink:href="img/sprite.svg#decor-1"></use>
        </svg>
        Get in touch
      </h2>
      <h4 class="section__subtitle">Send your message to us</h4>
    </div>
  </div>
  <div class="section__body">
    <div class="container grid">
      <form action="#" method="post" class="feedback__form grid">
        <div class="feedback__form__item">
          <label for="name" class="feedback__form__label">Full name <span>*</span></label>
          <input id="name" class="feedback__form__input" type="text" placeholder="Enter your name">
        </div>
        <div class="feedback__form__item">
          <label for="email" class="feedback__form__label">Email <span>*</span></label>
          <input id="email" class="feedback__form__input" type="email" placeholder="Enter your email">
        </div>
        <div class="feedback__form__item">
          <label for="phone" class="feedback__form__label">Phone <span>*</span></label>
          <input id="phone" class="feedback__form__input" type="tel" placeholder="Enter your phone">
        </div>
        <div class="feedback__form__item">
          <label for="subject" class="feedback__form__label">Subject <span>*</span></label>
          <input id="subject" class="feedback__form__input" type="text" placeholder="Subject of the message">
        </div>
        <div class="feedback__form__item--wide">
          <label for="message" class="feedback__form__label">Message <span>*</span></label>
          <textarea class="feedback__form__textarea" id="message" cols="30" rows="7" placeholder="Your message goes here..."></textarea>
        </div>
        <button class="btn btn-reset" type="submit">SEND MESSAGE</button>
      </form>
    </div>
  </div>
</section>
