<section class="membership">
  <svg class="decor decor--scribble">
    <use xlink:href="img/sprite.svg#decor-7"></use>
  </svg>

  <div class="container">
    <div class="section__header">
      <svg class="decor decor__membership--1">
        <use xlink:href="img/sprite.svg#decor-8"></use>
      </svg>
      <h2 class="section__title">Membership benefits</h2>
      <h4 class="section__subtitle">Become our sponsor and get all benefits</h4>
    </div>
    <div class="section__body">
      <ul class="membership__list list-reset flex">
        <li class="membership__item">
          <img class="membership__item-image" src="img/svg/decor-1.svg" alt="membership benefits image">
          <h4 class="membership__item-title">Topic by Request</h4>
          <p class="membership__item-description">Lorem ipsum dolor sit amet consectet pis cing elit, sed do eiusmod tempor.</p>
        </li>
        <li class="membership__item">
          <img class="membership__item-image" src="img/svg/decor-2.svg" alt="membership benefits image">
          <h4 class="membership__item-title">Exclusive Content</h4>
          <p class="membership__item-description">Lorem ipsum dolor sit amet consectet pis cing elit, sed do eiusmod tempor.</p>
        </li>
        <li class="membership__item">
          <img class="membership__item-image" src="img/svg/decor-5.svg" alt="membership benefits image">
          <h4 class="membership__item-title">Join the Community</h4>
          <p class="membership__item-description">Lorem ipsum dolor sit amet consectet pis cing elit, sed do eiusmod tempor.</p>
        </li>
        <li class="membership__item">
          <img class="membership__item-image" src="img/svg/decor-6.svg" alt="membership benefits image">
          <h4 class="membership__item-title">Livestreaming Access</h4>
          <p class="membership__item-description">Lorem ipsum dolor sit amet consectet pis cing elit, sed do eiusmod tempor.</p>
        </li>
        <li class="membership__item">
          <img class="membership__item-image" src="img/svg/decor-3.svg" alt="membership benefits image">
          <h4 class="membership__item-title">Exclusive Episodes & Merch</h4>
          <p class="membership__item-description">Lorem ipsum dolor sit amet consectet pis cing elit, sed do eiusmod tempor.</p>
        </li>
        <li class="membership__item">
          <img class="membership__item-image" src="img/svg/decor-4.svg" alt="membership benefits image">
          <h4 class="membership__item-title">And much more!</h4>
          <p class="membership__item-description">Lorem ipsum dolor sit amet consectet pis cing elit, sed do eiusmod tempor.</p>
        </li>
      </ul>
      <button class="btn btn-reset">SEE PRICING</button>
    </div>
  </div>
</section>
