<section class="news">
  <svg class="decor decor--scribble">
    <use xlink:href="img/sprite.svg#decor-7"></use>
  </svg>

  <div class="container">
    <div class="section__header">
      <h2 class="section__title">Article and News</h2>
      <h4 class="section__subtitle">News, tips, tricks and more</h4>
    </div>
    <div class="section__body">
      <ul class="articles__list list-reset flex">
        <svg class="decor decor__news--1">
          <use xlink:href="img/sprite.svg#decor-4"></use>
        </svg>
        <svg class="decor decor__news--2">
          <use xlink:href="img/sprite.svg#decor-8"></use>
        </svg>

        <li class="articles__item">
          <div class="articles__item-header">
            <a href="article.html" class="articles__item-link">
              <picture>
                <source srcset="img/article-1.webp" type="image/webp">
                <img class="articles__image" src="img/articles-1.png" srcset="articles-1_2x.png 2x" alt="article cover">
              </picture>
            </a>
          </div>
          <div class="articles__item-main">
            <p class="caption-text articles__category">PODCAST</p>
            <a class="articles__link" href="article.html">
              <h3 class="articles__title">Setup your own podcast</h3>
            </a>
            <p class="caption-text articles__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minimvel iam, quis nostrud exercitation ullamco laboris...
            </p>
          </div>
          <div class="articles__item-footer">
            <div class="episodes__tags">
              <a href="#" class="episodes__tags__link small-text">business</a>
              <a href="#" class="episodes__tags__link small-text">startup</a>
            </div>
            <div class="articles__date small-text">
              <time datetime="2021-09-14">Sep 14, 2021</time>
            </div>
          </div>
        </li>
        <li class="articles__item">
          <div class="articles__item-header">
            <a href="article.html" class="articles__item-link">
              <picture>
                <source srcset="img/article-2.webp" type="image/webp">
                <img class="articles__image" src="img/articles-1.png" srcset="articles-1_2x.png 2x" alt="article cover">
              </picture>
            </a>
          </div>
          <div class="articles__item-main">
            <p class="caption-text articles__category">TIPS & TRICK</p>
            <a class="articles__link" href="article.html">
              <h3 class="articles__title">Doodle artwork 101</h3>
            </a>
            <p class="caption-text articles__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minimvel iam, quis nostrud exercitation ullamco laboris...
            </p>
          </div>
          <div class="articles__item-footer">
            <div class="episodes__tags">
              <a href="#" class="episodes__tags__link small-text">art</a>
              <a href="#" class="episodes__tags__link small-text">creative</a>
              <a href="#" class="episodes__tags__link small-text">tips and trick</a>
            </div>
            <div class="articles__date small-text">
              <time datetime="2021-09-12">Sep 12, 2021</time>
            </div>
          </div>
        </li>
      </ul>
      <button class="btn btn-reset">BROWSE ALL</button>
    </div>
  </div>
</section>
