<section class="recent-episodes">
  <svg class="decor decor--scribble">
    <use xlink:href="img/sprite.svg#decor-7"></use>
  </svg>

  <div class="container">
    <div class="section__header">
      <h2 class="section__title">Recent Episodes</h2>
      <h4 class="section__subtitle">Available on your favorite platform</h4>
    </div>
    <div class="section__body">
      <ul class="episodes__list list-reset flex">
        <svg class="decor decor__recent-episodes--1">
          <use xlink:href="img/sprite.svg#decor-9"></use>
        </svg>
        <li class="episodes__item">
          <div class="episodes__item-main">
            <div class="episodes__item-left">
              <a href="episode.html" class="epidodes__item-link">
                <img class="decor decor__episode-6--mask--mini" src="img/svg/episode-6-mask.svg" alt="episode 6 mask">

                <picture>
                  <source srcset="img/episode-6.webp" type="image/webp">
                    <img class="episodes__image" src="img/episode-6.png" srcset="img/episode-6_2x.png 2x" alt="episode cover">
                </picture>

                <ul class="social__list--mini-episode list-reset flex">
                  <li class="social__item">
                    <svg class="google-podcast--static google-podcast--static--mini">
                      <use xlink:href="img/sprite.svg#google-podcast"></use>
                    </svg>
                  </li>
                  <li class="social__item">
                    <svg class="spotify--static spotify--static--mini">
                      <use xlink:href="img/sprite.svg#spotify"></use>
                    </svg>
                  </li>
                  <li class="social__item">
                    <svg class="youtube--static youtube--static--mini">
                      <use xlink:href="img/sprite.svg#youtube"></use>
                    </svg>
                  </li>
                </ul>
              </a>
            </div>
            <div class="episodes__item-right">
              <p class="episodes__number">Eps. 6</p>
              <a href="episode.html" class="episodes__link">
                <h4 class="episodes__title">Pandemic Becoming Endemic</h4>
              </a>
              <p class="episodes__description caption-text">A Nature survey shows many scientists expect the virus that causes COVID-19 to become...</p>
            </div>
          </div>
          <div class="episodes__item-footer">
            <div class="episodes__tags">
              <a href="#" class="episodes__tags__link small-text">covid-19</a>
              <a href="#" class="episodes__tags__link small-text">health</a>
            </div>
            <div class="episodes__hosts">
              <p class="small-text">Hosted by:</p>
              <div class="episodes__hosts__list">
                <div class="episodes__hosts__avatar">
                  <picture>
                    <source srcset="img/host-3_512h.webp" type="image/webp">
                    <img class="episodes__hosts__image" src="img/host-3.png" alt="Host avatar">
                  </picture>
                </div>
                <div class="episodes__hosts__avatar">
                  <picture>
                    <source srcset="img/host-4_512h.webp" type="image/webp">
                    <img class="episodes__hosts__image" src="img/host-4.png" alt="Host avatar">
                  </picture>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="episodes__item">
          <div class="episodes__item-main">
            <div class="episodes__item-left">
              <a href="episode.html" class="epidodes__item-link">
                <img class="decor decor__episode-5--mask--mini" src="img/svg/episode-5-mask.svg" alt="episode 5 mask">

                <picture>
                  <source srcset="img/episode-5.webp" type="image/webp">
                    <img class="episodes__image" src="img/episode-5.png" srcset="img/episode-5_2x.png 2x" alt="episode cover">
                </picture>

                <ul class="social__list--mini-episode list-reset flex">
                  <li class="social__item">
                    <svg class="google-podcast--static google-podcast--static--mini">
                      <use xlink:href="img/sprite.svg#google-podcast"></use>
                    </svg>
                  </li>
                  <li class="social__item">
                    <svg class="spotify--static spotify--static--mini">
                      <use xlink:href="img/sprite.svg#spotify"></use>
                    </svg>
                  </li>
                  <li class="social__item">
                    <svg class="youtube--static youtube--static--mini">
                      <use xlink:href="img/sprite.svg#youtube"></use>
                    </svg>
                  </li>
                </ul>
              </a>
            </div>
            <div class="episodes__item-right">
              <p class="episodes__number">Eps. 5</p>
              <a href="episode.html" class="episodes__link">
                <h4 class="episodes__title">Tesla Autopilot Controversy</h4>
              </a>
              <p class="episodes__description caption-text">Tesla's vehicles boast 'Full-Self-Driving' (FSD), but current regulations do not allow for fully...</p>
            </div>
          </div>
          <div class="episodes__item-footer">
            <div class="episodes__tags">
              <a href="#" class="episodes__tags__link small-text">automation</a>
              <a href="#" class="episodes__tags__link small-text">tech</a>
            </div>
            <div class="episodes__hosts">
              <p class="small-text">Hosted by:</p>
              <div class="episodes__hosts__list">
                <div class="episodes__hosts__avatar">
                  <picture>
                    <source srcset="img/host-3_512h.webp" type="image/webp">
                    <img class="episodes__hosts__image" src="img/host-3.png" alt="Host avatar">
                  </picture>
                </div>
                <div class="episodes__hosts__avatar">
                  <picture>
                    <source srcset="img/host-4_512h.webp" type="image/webp">
                    <img class="episodes__hosts__image" src="img/host-4.png" alt="Host avatar">
                  </picture>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="episodes__item">
          <div class="episodes__item-main">
            <div class="episodes__item-left">
              <a href="episode.html" class="epidodes__item-link">
                <img class="decor decor__episode-4--mask--mini" src="img/svg/episode-4-mask.svg" alt="episode 4 mask">

                <picture>
                  <source srcset="img/episode-4.webp" type="image/webp">
                    <img class="episodes__image" src="img/episode-4.png" srcset="img/episode-4_2x.png 2x" alt="episode cover">
                </picture>

                <ul class="social__list--mini-episode list-reset flex">
                  <li class="social__item">
                    <svg class="google-podcast--static google-podcast--static--mini">
                      <use xlink:href="img/sprite.svg#google-podcast"></use>
                    </svg>
                  </li>
                  <li class="social__item">
                    <svg class="spotify--static spotify--static--mini">
                      <use xlink:href="img/sprite.svg#spotify"></use>
                    </svg>
                  </li>
                  <li class="social__item">
                    <svg class="youtube--static youtube--static--mini">
                      <use xlink:href="img/sprite.svg#youtube"></use>
                    </svg>
                  </li>
                </ul>
              </a>
            </div>
            <div class="episodes__item-right">
              <p class="episodes__number">Eps. 4</p>
              <a href="episode.html" class="episodes__link">
                <h4 class="episodes__title">Women's Rights? Is it alright?</h4>
              </a>
              <p class="episodes__description caption-text">A look back at history shows that women have made great strides in the fight for equality...</p>
            </div>
          </div>
          <div class="episodes__item-footer">
            <div class="episodes__tags">
              <a href="#" class="episodes__tags__link small-text">women’s rights</a>
            </div>
            <div class="episodes__hosts">
              <p class="small-text">Hosted by:</p>
              <div class="episodes__hosts__list">
                <div class="episodes__hosts__avatar">
                  <picture>
                    <source srcset="img/host-3_512h.webp" type="image/webp">
                    <img class="episodes__hosts__image" src="img/host-3.png" alt="Host avatar">
                  </picture>
                </div>
                <div class="episodes__hosts__avatar">
                  <picture>
                    <source srcset="img/host-4_512h.webp" type="image/webp">
                    <img class="episodes__hosts__image" src="img/host-4.png" alt="Host avatar">
                  </picture>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="episodes__item">
          <div class="episodes__item-main">
            <div class="episodes__item-left">
              <a href="episode.html" class="epidodes__item-link">
                <img class="decor decor__episode-3--mask--mini" src="img/svg/episode-3-mask.svg" alt="episode 3 mask">

                <picture>
                  <source srcset="img/episode-3.webp" type="image/webp">
                    <img class="episodes__image" src="img/episode-3.png" srcset="img/episode-3_2x.png 2x" alt="episode cover">
                </picture>

                <ul class="social__list--mini-episode list-reset flex">
                  <li class="social__item">
                    <svg class="google-podcast--static google-podcast--static--mini">
                      <use xlink:href="img/sprite.svg#google-podcast"></use>
                    </svg>
                  </li>
                  <li class="social__item">
                    <svg class="spotify--static spotify--static--mini">
                      <use xlink:href="img/sprite.svg#spotify"></use>
                    </svg>
                  </li>
                  <li class="social__item">
                    <svg class="youtube--static youtube--static--mini">
                      <use xlink:href="img/sprite.svg#youtube"></use>
                    </svg>
                  </li>
                </ul>
              </a>
            </div>
            <div class="episodes__item-right">
              <p class="episodes__number">Eps. 3</p>
              <a href="episode.html" class="episodes__link">
                <h4 class="episodes__title">How to Deal with Self–Confidence</h4>
              </a>
              <p class="episodes__description caption-text">We have a therapist expert as our guest, Krista Gordon is will share her experience...</p>
            </div>
          </div>
          <div class="episodes__item-footer">
            <div class="episodes__tags">
              <a href="#" class="episodes__tags__link small-text">self-esteem</a>
              <a href="#" class="episodes__tags__link small-text">health</a>
            </div>
            <div class="episodes__hosts">
              <p class="small-text">Hosted by:</p>
              <div class="episodes__hosts__list">
                <div class="episodes__hosts__avatar">
                  <picture>
                    <source srcset="img/host-3_512h.webp" type="image/webp">
                    <img class="episodes__hosts__image" src="img/host-3.png" alt="Host avatar">
                  </picture>
                </div>
                <div class="episodes__hosts__avatar">
                  <picture>
                    <source srcset="img/host-4_512h.webp" type="image/webp">
                    <img class="episodes__hosts__image" src="img/host-4.png" alt="Host avatar">
                  </picture>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="episodes__item">
          <div class="episodes__item-main">
            <div class="episodes__item-left">
              <a href="episode.html" class="epidodes__item-link">
                <img class="decor decor__episode-2--mask--mini" src="img/svg/episode-2-mask.svg" alt="episode 2 mask">

                <picture>
                  <source srcset="img/episode-2.webp" type="image/webp">
                    <img class="episodes__image" src="img/episode-2.png" srcset="img/episode-2_2x.png 2x" alt="episode cover">
                </picture>

                <ul class="social__list--mini-episode list-reset flex">
                  <li class="social__item">
                    <svg class="google-podcast--static google-podcast--static--mini">
                      <use xlink:href="img/sprite.svg#google-podcast"></use>
                    </svg>
                  </li>
                  <li class="social__item">
                    <svg class="spotify--static spotify--static--mini">
                      <use xlink:href="img/sprite.svg#spotify"></use>
                    </svg>
                  </li>
                  <li class="social__item">
                    <svg class="youtube--static youtube--static--mini">
                      <use xlink:href="img/sprite.svg#youtube"></use>
                    </svg>
                  </li>
                </ul>
              </a>
            </div>
            <div class="episodes__item-right">
              <p class="episodes__number">Eps. 2</p>
              <a href="episode.html" class="episodes__link">
                <h4 class="episodes__title">Type of Social Classes of People</h4>
              </a>
              <p class="episodes__description caption-text">Social class refers to a group of people with similar levels of wealth, influence, and...</p>
            </div>
          </div>
          <div class="episodes__item-footer">
            <div class="episodes__tags">
              <a href="#" class="episodes__tags__link small-text">social class</a>
              <a href="#" class="episodes__tags__link small-text">wealth</a>
            </div>
            <div class="episodes__hosts">
              <p class="small-text">Hosted by:</p>
              <div class="episodes__hosts__list">
                <div class="episodes__hosts__avatar">
                  <picture>
                    <source srcset="img/host-3_512h.webp" type="image/webp">
                    <img class="episodes__hosts__image" src="img/host-3.png" alt="Host avatar">
                  </picture>
                </div>
                <div class="episodes__hosts__avatar">
                  <picture>
                    <source srcset="img/host-4_512h.webp" type="image/webp">
                    <img class="episodes__hosts__image" src="img/host-4.png" alt="Host avatar">
                  </picture>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="episodes__item">
          <div class="episodes__item-main">
            <div class="episodes__item-left">
              <a href="episode.html" class="epidodes__item-link">
                <img class="decor decor__episode-1--mask--mini" src="img/svg/episode-1-mask.svg" alt="episode 1 mask">

                <picture>
                  <source srcset="img/episode-1.webp" type="image/webp">
                    <img class="episodes__image" src="img/episode-1.png" srcset="img/episode-1_2x.png 2x" alt="episode cover">
                </picture>

                <ul class="social__list--mini-episode list-reset flex">
                  <li class="social__item">
                    <svg class="google-podcast--static google-podcast--static--mini">
                      <use xlink:href="img/sprite.svg#google-podcast"></use>
                    </svg>
                  </li>
                  <li class="social__item">
                    <svg class="spotify--static spotify--static--mini">
                      <use xlink:href="img/sprite.svg#spotify"></use>
                    </svg>
                  </li>
                  <li class="social__item">
                    <svg class="youtube--static youtube--static--mini">
                      <use xlink:href="img/sprite.svg#youtube"></use>
                    </svg>
                  </li>
                </ul>
              </a>
            </div>
            <div class="episodes__item-right">
              <p class="episodes__number">Eps. 1</p>
              <a href="episode.html" class="episodes__link">
                <h4 class="episodes__title">Are you a Perplexed Mind Person?</h4>
              </a>
              <p class="episodes__description caption-text">Unable to grasp something clearly or to think logically and decisively about something...</p>
            </div>
          </div>
          <div class="episodes__item-footer">
            <div class="episodes__tags">
              <a href="#" class="episodes__tags__link small-text">mind-behaviour</a>
              <a href="#" class="episodes__tags__link small-text">health</a>
            </div>
            <div class="episodes__hosts">
              <p class="small-text">Hosted by:</p>
              <div class="episodes__hosts__list">
                <div class="episodes__hosts__avatar">
                  <picture>
                    <source srcset="img/host-3_512h.webp" type="image/webp">
                    <img class="episodes__hosts__image" src="img/host-3.png" alt="Host avatar">
                  </picture>
                </div>
                <div class="episodes__hosts__avatar">
                  <picture>
                    <source srcset="img/host-4_512h.webp" type="image/webp">
                    <img class="episodes__hosts__image" src="img/host-4.png" alt="Host avatar">
                  </picture>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <button class="btn btn-reset btn--centered">BROWSE ALL EPISODES</button>
    </div>
  </div>
</section>
