<section class="sponsorship">
  <svg class="decor decor--scribble">
    <use xlink:href="img/sprite.svg#decor-7"></use>
  </svg>

  <div class="container">
    <div class="section__header">
      <h2 class="section__title">
        <svg class="decor decor__sponsorship--1">
          <use xlink:href="img/sprite.svg#decor-9"></use>
        </svg>
        Become our sponsor
      </h2>
      <div class="h4 section__subtitle">Get exclusive episodes, merch and more</div>
    </div>
    <div class="section__body">
      <ul class="sponsorship__list list-reset flex">
        <svg class="decor decor__sponsorship--2">
          <use xlink:href="img/sprite.svg#decor-10"></use>
        </svg>
        <svg class="decor decor__sponsorship--3">
          <use xlink:href="img/sprite.svg#decor-13"></use>
        </svg>

        <li class="sponsorship__item">
          <div class="sponsorship__item-top">
            <div class="h3 sponsorship__title">Member</div>
            <p class="caption-text sponsorship__description">Lorem ipsum dolor sit amet consectet cing elit, sed do eiusmod tempor.</p>
            <div class="sponsorship__action">
              <button class="btn btn-reset">SUBSCRIBE</button>
              <div class="sponsorship__price caption-text"><span>$9.99</span> /month</div>
            </div>
          </div>
          <div class="sponsorship__item-bottom">
            <p class="caption-text">What’s included:</p>
            <ul class="sponsorship__perks list-reset">
              <li class="sponsorship__perks-item">• Exclusive Content</li>
              <li class="sponsorship__perks-item">• 5% Discount on Merch</li>
              <li class="sponsorship__perks-item">• Join the Community</li>
              <li class="sponsorship__perks-item">• Livestreaming Access</li>
            </ul>
          </div>
        </li>
        <li class="sponsorship__item most-popular">
          <div class="sponsorship__item-top">
            <div class="h3 sponsorship__title">Family</div>
            <p class="caption-text sponsorship__description">Lorem ipsum dolor sit amet consectet cing elit, sed do eiusmod tempor.</p>
            <div class="sponsorship__action">
              <button class="btn btn-reset">SUBSCRIBE</button>
              <div class="sponsorship__price caption-text"><span>$14.99</span> /month</div>
            </div>
          </div>
          <div class="sponsorship__item-bottom">
            <p class="caption-text">What’s included:</p>
            <ul class="sponsorship__perks list-reset">
              <li class="sponsorship__perks-item">• Everything in Tier 1</li>
              <li class="sponsorship__perks-item">• Free tickets to Events</li>
              <li class="sponsorship__perks-item">• Limited Edition Merch</li>
              <li class="sponsorship__perks-item">• Promote your Product</li>
              <li class="sponsorship__perks-item">• Request Topic</li>
            </ul>
          </div>
        </li>
        <li class="sponsorship__item">
          <div class="sponsorship__item-top">
            <div class="h3 sponsorship__title">Official</div>
            <p class="caption-text sponsorship__description">Lorem ipsum dolor sit amet consectet cing elit, sed do eiusmod tempor.</p>
            <div class="sponsorship__action">
              <button class="btn btn-reset">SUBSCRIBE</button>
              <div class="sponsorship__price caption-text"><span>$29.99</span> /month</div>
            </div>
          </div>
          <div class="sponsorship__item-bottom">
            <p class="caption-text">What’s included:</p>
            <ul class="sponsorship__perks list-reset">
              <li class="sponsorship__perks-item">• Everything in Tier 2</li>
              <li class="sponsorship__perks-item">• Exclusive Badge on Livestreaming</li>
              <li class="sponsorship__perks-item">• Become an Official Sponsor</li>
              <li class="sponsorship__perks-item">• Early Access to All Episodes</li>
              <li class="sponsorship__perks-item">• Free Stickers and Merch</li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
