<section class="sponsors">
  <div class="container">
    <div class="section__header">
      <h2 class="section__title">
        <svg class="decor decor__sponsors--1">
          <use xlink:href="img/sprite.svg#decor-16"></use>
        </svg>
        Our Sponsor
      </h2>
      <div class="h4 section__subtitle">Our current official sponsor</div>
    </div>
    <div class="section__body">
      <div class="sponsors__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="sponsors__item">
              <div class="sponsors__logo">
                <img class="sponsors__image" src="img/google-podcast-banner.svg" alt="sponsors image">
              </div>
              <p class="sponsors__text caption-text">
                Quis dictum cursus faucibus mattis <b>dignissim</b>. Pellentes<br>que purus in sed sodales in mauris molestie. Eleifend estcon<br>sctetur interdum eu in auctor. Gravida leo et.
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="sponsors__item">
              <div class="sponsors__logo">
                <img class="sponsors__image" src="img/spotify-banner.svg"alt="sponsors image">
              </div>
              <p class="sponsors__text caption-text">
                Quis dictum cursus faucibus mattis <b>dignissim</b>. Pellentes<br>que purus in sed sodales in mauris molestie. Eleifend estcon<br>sctetur interdum eu in auctor. Gravida leo et.
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="sponsors__item">
              <div class="sponsors__logo">
                <img class="sponsors__image" src="img/youtube-banner.svg"alt="sponsors image">
              </div>
              <p class="sponsors__text caption-text">
                Quis dictum cursus faucibus mattis <b>dignissim</b>. Pellentes<br>que purus in sed sodales in mauris molestie. Eleifend estcon<br>sctetur interdum eu in auctor. Gravida leo et.
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="sponsors__item">
              <div class="sponsors__logo">
                <img class="sponsors__image" src="img/google-podcast-banner.svg" alt="sponsors image">
              </div>
              <p class="sponsors__text caption-text">
                Quis dictum cursus faucibus mattis <b>dignissim</b>. Pellentes<br>que purus in sed sodales in mauris molestie. Eleifend estcon<br>sctetur interdum eu in auctor. Gravida leo et.
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="sponsors__item">
              <div class="sponsors__logo">
                <img class="sponsors__image" src="img/spotify-banner.svg" alt="sponsors image">
              </div>
              <p class="sponsors__text caption-text">
                Quis dictum cursus faucibus mattis <b>dignissim</b>. Pellentes<br>que purus in sed sodales in mauris molestie. Eleifend estcon<br>sctetur interdum eu in auctor. Gravida leo et.
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="sponsors__item">
              <div class="sponsors__logo">
                <img class="sponsors__image" src="img/youtube-banner.svg" alt="sponsors image">
              </div>
              <p class="sponsors__text caption-text">
                Quis dictum cursus faucibus mattis <b>dignissim</b>. Pellentes<br>que purus in sed sodales in mauris molestie. Eleifend estcon<br>sctetur interdum eu in auctor. Gravida leo et.
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-button-next">
          <svg class="arrow-right">
            <use xlink:href="img/sprite.svg#arrow-right"></use>
          </svg>
        </div>
        <div class="swiper-button-prev">
          <svg class="arrow-left">
            <use xlink:href="img/sprite.svg#arrow-left"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
