<section class="testimonials" id="testimonials">
  <svg class="decor decor--scribble">
    <use xlink:href="img/sprite.svg#decor-7"></use>
  </svg>

  <div class="container">
    <div class="section__header">
      <h2 class="section__title">
        <svg class="decor decor__testimonials--1">
          <use xlink:href="img/sprite.svg#decor-16"></use>
        </svg>
        What our listeners say
      </h2>
      <div class="h4 section__subtitle">Their experience throughout every platform</div>
    </div>
    <div class="section__body">
      <div class="testimonials__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="testimonials__item">
              <div class="h4 testimonials__text">Lorem ipsum dolor sit amet consectet piscing elit, sed do eiusmod tempor incidi ut labore et dolore magna aliqua.</div>
              <div class="features__review-author">
                <picture>
                  <source type="image/webp" srcset="img/testimonials-avatar-1.webp">
                  <img class="features__review-author__avatar" src="img/testimonials-avatar-1.png" srcset="img/testimonials-avatar-1_2x.png 2x" alt="review avatar">
                </picture>
                <div class="features__review-author__name">Luna lovegood,</div>
                <div class="features__review-author__role">
                  <img class="features__review-author-icon" src="img/svg/spotify-icon.svg" alt="spotify icon">
                  <p class="caption-text">Spotify</p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="testimonials__item">
              <div class="h4 testimonials__text">Lorem ipsum dolor sit amet consectet piscing elit, sed do eiusmod tempor incidi ut labore et dolore magna aliqua.</div>
              <div class="features__review-author">
                <picture>
                  <source type="image/webp" srcset="img/testimonials-avatar-2.webp">
                  <img class="features__review-author__avatar" src="img/testimonials-avatar-2.png" srcset="img/testimonials-avatar-2_2x.png 2x" alt="review avatar">
                </picture>
                <div class="features__review-author__name">Emily Blunt,</div>
                <div class="features__review-author__role">
                  <img class="features__review-author-icon" src="img/svg/google-podcast-icon.svg" alt="google podcast icon">
                  <p class="caption-text">Google Podcast</p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="testimonials__item">
              <div class="h4 testimonials__text">Lorem ipsum dolor sit amet consectet piscing elit, sed do eiusmod tempor incidi ut labore et dolore magna aliqua.</div>
              <div class="features__review-author">
                <picture>
                  <source type="image/webp" srcset="img/testimonials-avatar-3.webp">
                  <img class="features__review-author__avatar" src="img/testimonials-avatar-3.png" srcset="img/testimonials-avatar-3_2x.png 2x" alt="review avatar">
                </picture>
                <div class="features__review-author__name">Mia Winters,</div>
                <div class="features__review-author__role">
                  <img class="features__review-author-icon" src="img/svg/apple-podcast-icon.svg" alt="apple podcast icon">
                  <p class="caption-text">Apple Podcast</p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="testimonials__item">
              <div class="h4 testimonials__text">Lorem ipsum dolor sit amet consectet piscing elit, sed do eiusmod tempor incidi ut labore et dolore magna aliqua.</div>
              <div class="features__review-author">
                <picture>
                  <source type="image/webp" srcset="img/testimonials-avatar-1.webp">
                  <img class="features__review-author__avatar" src="img/testimonials-avatar-1.png" srcset="img/testimonials-avatar-1_2x.png 2x" alt="review avatar">
                </picture>
                <div class="features__review-author__name">Luna lovegood,</div>
                <div class="features__review-author__role">
                  <img class="features__review-author-icon" src="img/svg/spotify-icon.svg" alt="spotify icon">
                  <p class="caption-text">Spotify</p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="testimonials__item">
              <div class="h4 testimonials__text">Lorem ipsum dolor sit amet consectet piscing elit, sed do eiusmod tempor incidi ut labore et dolore magna aliqua.</div>
              <div class="features__review-author">
                <picture>
                  <source type="image/webp" srcset="img/testimonials-avatar-2.webp">
                  <img class="features__review-author__avatar" src="img/testimonials-avatar-2.png" srcset="img/testimonials-avatar-2_2x.png 2x" alt="review avatar">
                </picture>
                <div class="features__review-author__name">Emily Blunt,</div>
                <div class="features__review-author__role">
                  <img class="features__review-author-icon" src="img/svg/google-podcast-icon.svg" alt="google podcast icon">
                  <p class="caption-text">Google Podcast</p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="testimonials__item">
              <div class="h4 testimonials__text">Lorem ipsum dolor sit amet consectet piscing elit, sed do eiusmod tempor incidi ut labore et dolore magna aliqua.</div>
              <div class="features__review-author">
                <picture>
                  <source type="image/webp" srcset="img/testimonials-avatar-3.webp">
                  <img class="features__review-author__avatar" src="img/testimonials-avatar-3.png" srcset="img/testimonials-avatar-3_2x.png 2x" alt="review avatar">
                </picture>
                <div class="features__review-author__name">Mia Winters,</div>
                <div class="features__review-author__role">
                  <img class="features__review-author-icon" src="img/svg/apple-podcast-icon.svg" alt="apple podcast icon">
                  <p class="caption-text">Apple Podcast</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-button-next">
          <svg class="arrow-right">
            <use xlink:href="img/sprite.svg#arrow-right"></use>
          </svg>
        </div>
        <div class="swiper-button-prev">
          <svg class="arrow-left">
            <use xlink:href="img/sprite.svg#arrow-left"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
