// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font: 'Montserrat Alternates', sans-serif;;
  --content-width: 116rem;
  --container-offset: 14rem;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --white-color: #fff;
  --black-color: #000;
  --davys-grey: #4d4d4d;
  --pewter-blue: #81adc8;
  --vermillion: #cd4631;
  --champagne: #f7ede8;
  --alice-blue: #edf3f7;

  // media
  @include for-desktop {
    --content-width: 106rem;
    --container-offset: 2rem;
  }
}
