// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font: 'Montserrat Alternates', sans-serif;;
  --content-width: 1160px;
  --container-offset: 140px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --big-content-width: 1440px;
  --big-container-offset: 0px;
  --big-container-width: calc(var(--big-content-width) + (var(--big-container-offset) * 2));


  // colors
  --white-color: #fff;
  --black-color: #000;
  --davys-grey: #4d4d4d;
  --pewter-blue: #81adc8;
  --vermillion: #cd4631;
  --champagne: #f7ede8;
  --alice-blue: #edf3f7;
}
